<div class="gallery-container">
    <div>
        <p><strong>Highlights from eHealthALIVE 2016</strong></p>
    </div>
  <div class="image-list">
    <a href=""><img src="assets/gallery2016/eha2016-tn.1.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.10.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.11.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.12.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.13.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.15.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.16.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.19.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.8.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.21.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.22.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.24.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.3.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.4.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.5.jpg"></a>
    <a href=""><img src="assets/gallery2016/eha2016-tn.6.jpg"></a>
  </div>
</div>
