<div class="quotes">
  <header><strong> What Are Thought Leaders Saying...</strong></header>
  <div class="div-quote">
    <img src="assets/sean.png" alt="Dr Sean Broomhead" style="float:left;">
    <p>
      "You are the African eHealth leaders whose insights and experiences ensure that initiatives across the continent will have a big impact on the health of our people" - Dr. Sean Broomhead, Chairperson for African Centre for eHealth Excellence @eHealthALIVE2016
    </p>
  </div>
  <div class="div-quote">
    <img src="assets/mbulelo.png" alt="Mr Mbulelo Cabuko" style="float:left;">
    <p>
      "Integration and interoperability are key for government to derive utility value from eHealth tools" - Mr. Mbulelo Cabuko, Director at National Health Information Systems @eHealthALIVE2016
    </p>
  </div>
  <div class="div-quote">
    <img src="assets/gail.png" alt="Dr Gail Andrews" style="float:left;">
    <p>
      "Southern Africa, like the rest of the African continent is in need of innovative approaches for enhancing the provision of adequate healthcare to its citizens" - Dr. Gail Andrews, Chief Operating officer NDoH @eHealthALIVE2016
    </p>
  </div> 
</div>